@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-error {
  background-color: #d32f2f !important;
  color: white !important;
  font-weight: 500;
}

